# Hackaton Prédiction - JO 2024

In [67]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

### ATHLETES - olympic_athletes.json

In [68]:
# Lire le fichier JSON
olympic_athlete = pd.read_json('./files/olympic_athletes.json')

In [69]:
# Afficher les premières lignes du DataFrame
olympic_athlete.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,None,None
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,None,None
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,None,None
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,None,None
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,None,None

In [70]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(olympic_athlete.shape[0]) + ' lignes et ' + str(olympic_athlete.shape[1]) + ' colonnes')

Il y a 75904 lignes et 7 colonnes

In [71]:
olympic_athlete.isnull().sum()

athlete_url                 0
athlete_full_name           0
games_participations        0
first_game                 22
athlete_year_birth       2456
athlete_medals          60552
bio                     53062
dtype: int64

In [72]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(olympic_athlete.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

### Résultats - olympic_results.html

In [73]:
# Lire les tables du fichier HTML
olympic_results = pd.read_html('./files/olympic_results.html')[0]

In [74]:
# Afficher la première table (si le fichier contient plusieurs tables)
olympic_results.head()

,Unnamed: 0,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

In [75]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(olympic_results.shape[0]) + ' lignes et ' + str(olympic_results.shape[1]) + ' colonnes')

Il y a 162804 lignes et 16 colonnes

In [76]:
# Afficher le nombre de données manquantes pour chaque colonne
olympic_results.isnull().sum()

Unnamed: 0                    0
discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type               142598
athletes                 154828
rank_equal               130278
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
dtype: int64

In [77]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(olympic_results.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [78]:
olympic_results.value_unit.unique()

array([nan, '76.74', '78.87', ..., '7.355', '2.333', '142 pts'],
      dtype=object)

In [79]:
olympic_results.value_type.unique()

array([nan, 'POINTS', 'SC_REST$IRM', 'IRM', 'CODE', 'TIME', 'NO_TIME',
       'IRM_POINTS', 'STROKES', 'WEIGHT', 'DISTANCE', 'RANK', 'SCORE'],
      dtype=object)

In [80]:
# On supprimer les colonnes inutiles : 
olympic_results.drop(['Unnamed: 0', 'athlete_url'], axis=1, inplace=True)
olympic_results = olympic_results.rename({'slug_game':'game_slug'},axis=1)
olympic_results.columns

Index(['discipline_title', 'event_title', 'game_slug', 'participant_type',
       'medal_type', 'athletes', 'rank_equal', 'rank_position', 'country_name',
       'country_code', 'country_3_letter_code', 'athlete_full_name',
       'value_unit', 'value_type'],
      dtype='object')

### Médailles - olympic_medals.xlsx

In [81]:
# Lire le fichier Excel
olympic_medals = pd.read_excel('./files/olympic_medals.xlsx')

# Afficher les premières lignes du DataFrame
olympic_medals.head()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [82]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(olympic_medals.shape[0]) + ' lignes et ' + str(olympic_medals.shape[1]) + ' colonnes')

Il y a 21697 lignes et 13 colonnes

In [83]:
# Afficher le nombre de données manquantes pour chaque colonne
olympic_medals.isnull().sum()

Unnamed: 0                   0
discipline_title             0
slug_game                    0
event_title                  0
event_gender                 0
medal_type                   0
participant_type             0
participant_title        15113
athlete_url               4670
athlete_full_name         3624
country_name                 0
country_code              1502
country_3_letter_code        0
dtype: int64

In [84]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(olympic_medals.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [85]:
# On renomme la colonne slug_game en game_slug pour les futures merges des autres DF
olympic_medals = olympic_medals.rename({'slug_game':'game_slug'},axis=1)
olympic_medals.columns

Index(['Unnamed: 0', 'discipline_title', 'game_slug', 'event_title',
       'event_gender', 'medal_type', 'participant_type', 'participant_title',
       'athlete_url', 'athlete_full_name', 'country_name', 'country_code',
       'country_3_letter_code'],
      dtype='object')

In [86]:
# On observe si le colonne participant_title possède des données viables
olympic_medals.participant_title.unique()

array(['Italy', 'Norway', 'Sweden', 'Great Britain', 'Japan', 'Canada',
       nan, 'United States', 'China', 'Republic of Korea',
       "People's Republic of China", 'Hungary', 'Netherlands',
       'United States of America 1', 'Italy 1', 'Canada 1', 'Austria',
       'Slovenia', 'Germany', 'ROC', 'United States of America',
       'SUI Wenjing / HAN Cong', 'TARASOVA Evgenia / MOROZOV Vladimir',
       'MISHINA Anastasia / GALLIAMOV Aleksandr',
       'PAPADAKIS Gabriella / CIZERON Guillaume',
       'SINITSINA Victoria / KATSALAPOV Nikita',
       'HUBBELL Madison / DONOHUE Zachary', 'Latvia',
       'WENDL Tobias / ARLT Tobias', 'EGGERT Toni / BENECKEN Sascha',
       'STEU Thomas / KOLLER Lorenz', 'Finland', 'Slovakia', 'France',
       'Spain', 'San Marino', "People's Republic of China 1", 'ROC 2',
       'ROC 1', 'Ukraine', 'Mexico', 'Cuba', 'Australia',
       'Czech Republic', 'Belarus', 'Poland', 'New Zealand', 'Brazil',
       'Denmark', 'Fiji', 'Argentina', 'Hong Kong, China',
       'MIZUTANI Jun / ITO Mima', 'XU Xin / LIU Shiwen',
       'LIN Yun Ju / CHENG I Ching', 'Serbia', 'Estonia',
       'LEE Yang/WANG Chi-Lin', 'LI Jun Hui/LIU Yu Chen',
       'CHIA Aaron/SOH Wooi Yik', 'POLII Greysia/RAHAYU Apriyani',
       'CHEN Qing Chen/JIA Yi Fan', 'KIM Soyeong/KONG Heeyong',
       'WANG Yi Lyu/HUANG Dong Ping', 'ZHENG Si Wei/HUANG Ya Qiong',
       'WATANABE Yuta/HIGASHINO Arisa', 'Greece',
       'Pavlyuchenkova / Rublev', 'Vesnina / Karatsev', 'Barty / Peers',
       'Mektic / Pavic', 'Cilic / Dodig', 'Daniell / Venus',
       'Krejcikova / Siniakova', 'Bencic / Golubic', 'Pigossi / Stefani',
       'Israel', 'Chinese Taipei', 'Dominican Rep.', 'Belgium',
       'Dominican Republic', 'Jamaica', 'Botswana', 'Romania', 'Croatia',
       'Ireland', 'Bulgaria', 'India', 'April/Alix',
       'Artacho Del Solar/Clancy', 'Verge-Depre, A./Heidrich',
       'Mol A./Sorum C.', 'Krasilnikov/Stoyanovskiy', 'Cherif/Ahmed',
       'Norway team', 'Republic of Korea team', 'Netherlands team',
       'Japan team', 'United States team', 'France team', 'Italy team',
       'Sweden team', 'Germany team', 'Belarus team', 'Austria team',
       'Canada team', 'Switzerland team',
       'Olympic Athletes from Russia team', 'Canada team #1',
       'France team #1', 'United States team #2', 'Germany team #1',
       "People's Republic of China team #1", 'Poland team',
       'Hungary team', "People's Republic of China team",
       'Austria team #1', 'Germany team #2', 'Finland team',
       'United States team #1', 'Germany team #3',
       'Republic of Korea team #1', 'Latvia team #2', 'Serbia team',
       'Spain team', 'Fiji team', 'Great Britain team',
       'South Africa team', 'Australia team', 'New Zealand team',
       'Russian Federation team', 'Bulgaria team', 'Ukraine team',
       'Romania team', 'Brazil team', 'Nigeria team', 'Denmark team',
       'Jamaica team', 'The Bahamas team', 'Brazil team #1',
       'Italy team #1', 'Netherlands team #1', 'Lithuania team',
       'Slovakia team', 'Czech Republic team', 'Croatia team',
       'Ireland team', 'Estonia team', 'Chinese Taipei team',
       'Greece team', 'Argentina team', 'Belgium team', 'Malaysia team',
       'Indonesia team #1', 'Spain team #2', 'Russian Federation team #2',
       'Czech Republic team #1', 'Switzerland team #1', 'Latvia team #1',
       'Great Britain team #1', 'Russian Federation team #1',
       'Latvia team', 'Mexico team', 'Kingdom of Saudi Arabia team',
       'Great Britain team #2', 'Montenegro team',
       'Trinidad and Tobago team', 'Portugal team', 'Slovenia team',
       'Singapore team', 'France team #2',
       "People's Republic of China team #2", 'Denmark team #1',
       'Japan team #1', 'Canada team #2', 'Cuba team', 'Iceland team',
       'Brazil team #2', 'Sweden team #2', 'Spain team #1',
       "People's Republic of China team #3", 'Ukraine team #1',
       'Hong Kong, China team #2', 'Paraguay team', 'Chile team',
       'Denmark team #2', 'Republic of Korea team #2',
       'Serbia and Montenegro team', 'Switzerland team #2',
       'Poland team #1', 'Cameroon team', 'Indonesia team',
       'Australia team #1', 'Republic of Moldova team',
       'Malaysia team #1', 'Italy team #2', 'Unified Team team',
       'Czechoslovakia team #1', 'Malaysia team #2', 'Pakistan team',
       'Ghana team', "Democratic People's Republic of Korea team #1",
       'Unified Team team #1', 'Unified Team team #2',
       'Czechoslovakia team', 'West Germany team', 'Soviet Union team',
       'East Germany team', 'Yugoslavia team', 'Peru team',
       'Soviet Union team #1', 'Soviet Union team #2',
       'East Germany team #1', 'East Germany team #2',
       'West Germany team #1', 'India team', 'Zimbabwe team',
       "Democratic People's Republic of Korea team", 'Kenya team',
       'West Germany team #2', 'Romania team #1', 'Pandora', 'Lady C',
       'Widgeon', 'Gem', 'Glider', 'Humbug V', 'White Lady', 'Mutafo',
       'Aphrodite', 'Barrenjoey', 'Rush VII', 'Bingo', 'Austria team #2',
       'West Indies Federation team', 'Tornado', 'Ma&#39;Lindo',
       'Shrew II', 'Nirefs', 'Tango', 'Venilia', 'Sirene', 'Skum',
       'Macky VI', 'Minotaur', 'Web II', 'Ballerina IV', 'Uruguay team',
       'Rush V', 'Vision', 'Buraddoo', 'Jest', 'Falcon IV', 'Chuckles',
       'Slaghoken II', 'Tip', 'Bluebottle', 'Kathleen', 'Merope III',
       'Gem IV', 'Llanoria', 'Elisabeth X', 'Ralia', 'Merope', 'Comanche',
       'Espadarte', 'Complex II', 'Encore', 'Hojwa', 'Pan', 'Gustel X',
       'Hungary team #1', 'Slaghoken', 'Snap', 'Swift', 'Symphony',
       'Margaret', 'Hilarius', 'Kurush II', 'Starita', 'Djinn',
       'Ali-Baba II', 'Italia', 'Silja', 'Germania II', 'Lalage',
       'Lully II', 'May Be', 'Wannsee', 'Sunshine', 'Bem II', 'Bissbi',
       'Gallant', 'Caprice', 'Jupiter', 'Joy', 'Swedish Star', 'Angelita',
       'Santa Maria', "L'Aile VI", 'Hollandia', 'Sylvia', 'Norna',
       'Hi-Hi', 'Tutti V', 'Haiti team', 'Bera', 'Emily', 'Namoussa',
       'Elisabeth V', 'Bonzo', 'Willem-Six', 'Belgium team #1',
       'Heira II', 'Ancora', 'Fornebo', 'Sif', 'Elsie', 'Atlanta', 'Jo',
       'Tan-Fe-Pah', 'Irene', 'Oranje', 'Rose Pompon', 'Kullan',
       'Mosk II', 'Beatrijs III #1', 'Boreas #2', 'Sildra #1', 'Lyn #2',
       'Antwerpia V', 'Edelweiss II #1', 'Marmi II #1', 'Stella #2',
       'Eleda', 'France team #3', 'Great Britain team #3',
       'Sweden team #3', 'Sweden team #1', 'Kitty #1', 'Nina',
       'Gallia II', 'Mac Miche', 'Nurdug II', 'Kerstin #1', 'Magda IX',
       'Erna Signe', 'Heatherbell', 'Taifun', 'Sans Atout #1',
       'Lucky Girl #1', 'Ludwigshafener Ruderverein',
       'Thames Rowing Club', 'Polyteknisk Roklub #1',
       'Kristiania Roklub #1', 'Leander Club #1',
       'New College, Oxford #2', 'Berliner Ruderverein von 1876 #2',
       'Nykjøbings paa Falster', 'Roddklubben af 1912 #1',
       'Ormsund Roklub #2', 'England #1', 'Australasia team',
       'Bohemia team', 'Cornwall', 'Gyrinus #1', 'Camille', 'Dormy #1',
       'Zut', 'Guyoni', 'Cobweb #1', 'Vinga #1', 'Sorais #2', 'Heroine',
       'Hera #1', 'Mouchette #2', 'Royal Club Nautique de Gand',
       'Toronto Argonauts', 'Cambridge University Boat Club #2',
       'Leander Club #1 #1', 'Leander Club #2 #2', 'Argonaut Rowing Club',
       'Berliner Ruderclub', 'Magdalen College Boat Club #1',
       'Leander Club #2', 'Amstel Amsterdam', 'Roehampton #1',
       'Ireland #3', 'Hurlingham #2', 'Ireland #2', 'Scotland #3',
       'Wales #4', 'London City Police #1', 'Liverpool Police Team #2',
       'K Division Metropolitan Police Team #3', 'New York Athletic Club',
       'Chicago Athletic Association', 'Western Golf Association #1',
       'Trans-Mississippi Golf Association #2',
       'United States Golf Association #3', 'Atalanta Boat Club #1',
       'Ravenswood Boat Club #2', 'Independent Rowing Club #3',
       'Vesper Boat Club', 'Century Boat Club #1',
       'Mound City Rowing Club #2', 'Western Rowing Club #3',
       'Seawanhaka Boat Club #1', 'Atalanta Boat Club #2',
       'Milwaukee Athletic Club #1',
       'St. Louis Southwest Turnverein #1 #2',
       'St. Louis Southwest Turnverein #2 #3', 'United States team #3',
       'United States team #4', 'Galt Football Club',
       "Christian Brothers' College #1", 'St. Rose #2',
       'Philadelphia Turngemeinde, Philadelphia',
       'New York Turnverein, New York', 'Central Turnverein, Chicago',
       'Mixed team', 'New York Athletic Club #1 #1',
       'Chicago Athletic Association #2', 'Missouri Athletic Club #3',
       'Potomac Archers', 'Cincinnati Archers', 'Boston Archers',
       'Winnipeg Shamrocks #1', 'St. Louis Amateur Athletic Association',
       'Mohawk Indians #2', 'New York Athletic Club #1',
       'Racing Club de France', 'Upton Park FC', 'USFSA',
       'Univ. of Brussels', 'Osborne Swimming Club, Manchester',
       'Brussels Swimming and Water Polo Club', 'Libellule de Paris #1',
       'Pupilles de Neptune de Lille #2 #1',
       'Amateur Athletic Association', 'Devon and Somerset Wanderers',
       'Union des Sociétés Français de Sports Athletiques', 'Scotia',
       'Crabe II #1', 'Scamasaxe #2', 'Esterel #1', 'Quand-Même #2',
       'Laurea #1', 'Lerina', 'Martha #1', 'Nina Claire #2',
       'Aschenbrodel', 'Turquoise #1', 'Baby #1', 'Sarcelle #3', 'Olle',
       'Favorite #1', 'Mignon #3', 'Femur #1', 'Mascotte', 'Gitana #2',
       'Fantlet #7', 'Bona Fide', 'Frimousse', 'Carabinier #15',
       'Scamasaxe #3', 'Crabe II #4', 'Gwendoline #2', 'Cicely #1',
       'Brynhild #2', 'Formosa', 'Frankfurt Club', 'Moseley Wanderers',
       'Minerva Amsterdam', 'Societé Nautique de la Marne #1',
       'Rowing Club Castillon #3', 'Germania Ruder Club, Hamburg #2',
       'Ludwigshafener Ruder Verein #1', "Cercle de l'Aviron Roubaix #4",
       'Club Nautique de Lyon #2', 'Favorite Hammonia #3',
       'Mixed team #1', 'Mixed team #2', 'Mixed team #3',
       'Deutscher Schwimm Verband Berlin', 'Tritons Lillois #2',
       'Pupilles de Neptune de Lille #1', 'Foxhunters Hurlingham #1',
       'BLO Polo Club, Rugby #2', 'Bagatelle Polo Club, Paris #3',
       'A North American Team #4', 'Panellinios Gymnastikos Syllogos #1',
       'Ethnikos Gymnastikos Syllogos #2', 'Greece team #1'], dtype=object)

In [87]:
# Suppression des colonnes inutilisables/inutiles : 
olympic_medals.drop(['Unnamed: 0','participant_title', 'athlete_url'], axis=1, inplace=True)

In [88]:
olympic_medals.tail()

,discipline_title,game_slug,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name,country_code,country_3_letter_code
21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,Viggo JENSEN,Denmark,DK,DEN
21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,Alexandros Nikolopoulos,Greece,GR,GRE
21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,Viggo JENSEN,Denmark,DK,DEN
21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,Launceston ELLIOT,Great Britain,GB,GBR
21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,Sotirios VERSIS,Greece,GR,GRE

### Hôtes - olympic_hosts.xml

In [89]:
# Lire le fichier XML
olympic_hosts = pd.read_xml('./files/olympic_hosts.xml')

# Afficher les premières lignes du DataFrame
olympic_hosts.head()

,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [90]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(olympic_hosts.shape[0]) + ' lignes et ' + str(olympic_hosts.shape[1]) + ' colonnes')

Il y a 53 lignes et 8 colonnes

In [91]:
# On supprime les colonnes inutilisables
olympic_hosts.drop(['index'], axis=1, inplace=True)

In [92]:
# Afficher le nombre de données manquantes pour chaque colonne
olympic_hosts.isnull().sum()

game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

In [93]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(olympic_hosts.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

## Réponses aux questions

#### 1. La France a organisé 6 JO : 3 d’hiver et 3 d’été (en comptant celui de 2024) ?

In [94]:
jo_france = olympic_hosts[olympic_hosts['game_location'] == 'France']
jo_france

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
16,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
28,grenoble-1968,1968-02-18T19:00:00Z,1968-02-06T07:00:00Z,France,Grenoble 1968,Winter,1968
45,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
46,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
51,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900

In [95]:
# On compte le nombre de JO organisé par la France en fonction de la saison (winter/summer)
jo_france.groupby('game_season').size()

game_season
Summer    2
Winter    3
dtype: int64

La réponse est oui en comptant les JO d'été de 2024

#### 2. La France est le 2è pays qui a organisé le plus de JO après les USA (8 JO) ?

In [96]:
# La France est le 2è pays qui a organisé le plus de JO après les USA (8 JO) ?
olympic_hosts.groupby('game_location').size().sort_values(ascending=False)

game_location
United States                  8
France                         5
Japan                          4
Italy                          3
Canada                         3
Great Britain                  3
Greece                         2
Germany                        2
Republic of Korea              2
Norway                         2
Switzerland                    2
China                          2
Austria                        2
USSR                           1
Spain                          1
Russian Federation             1
Sweden                         1
Australia                      1
Netherlands                    1
Mexico                         1
Australia, Sweden              1
Finland                        1
Federal Republic of Germany    1
Brazil                         1
Belgium                        1
Yugoslavia                     1
dtype: int64

La réponse est oui, en comptant les JO 2024 on est à 6 exactement

#### 3. Les JO d’hiver sont nés à Chamonix en 1924 ?

In [97]:
# Les JO d’hiver sont nés à Chamonix en 1924 ?
olympic_hosts[olympic_hosts['game_season'] == 'Winter'].sort_values('game_year').head(3)

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
46,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
44,st-moritz-1928,1928-02-19T08:00:00Z,1928-02-11T08:00:00Z,Switzerland,St. Moritz 1928,Winter,1928
42,lake-placid-1932,1932-02-15T18:00:00Z,1932-02-04T13:00:00Z,United States,Lake Placid 1932,Winter,1932

La réponse est oui

#### 4. JO de Paris, en 1900 : les femmes peuvent participer aux JO ?

In [98]:
# On vérifie si la France a déjà organisé des JO en 1900
olympic_hosts[olympic_hosts['game_location'] == 'France']

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
16,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992
28,grenoble-1968,1968-02-18T19:00:00Z,1968-02-06T07:00:00Z,France,Grenoble 1968,Winter,1968
45,paris-1924,1924-07-27T19:00:00Z,1924-05-04T07:00:00Z,France,Paris 1924,Summer,1924
46,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
51,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900

In [99]:
# On merge olympic_hosts avec olympic_medals pour obtenir les résultats des JO de Paris en 1924
jo_paris_1924 = pd.merge(olympic_hosts, olympic_medals, on='game_slug')

In [100]:
# Maintenant on regarde les valeurs unique de 'event_title' en fonction de 'game_year' (1924)
jo_paris_1924[jo_paris_1924['game_year'] == 1924]['event_gender'].unique()

array(['Men', 'Women', 'Mixed', 'Open'], dtype=object)

La réponse est donc oui, les femmes sont dans la liste des gender avec la mention 'women'

#### 5. Seuls 4 athlètes ont remporté des médailles à la fois aux JO d’hiver et d’été. Une seule d’entre eux, Christa Ludinger-Rothenburger, a remporté des médailles au cours de la même année ?

In [101]:
olympic_medals.head()

,discipline_title,game_slug,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Stefania CONSTANTINI,Italy,IT,ITA
1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Amos MOSANER,Italy,IT,ITA
2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Kristin SKASLIEN,Norway,NO,NOR
3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Magnus NEDREGOTTEN,Norway,NO,NOR
4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Almida DE VAL,Sweden,SE,SWE

In [102]:
# Seuls 4 athlètes ont remporté des médailles à la fois aux JO d’hiver et d’été. Une seule d’entre eux, Christa Ludinger-Rothenburger, a remporté des médailles au cours de la même année ?

# On vérifie dans le DF des médailles si Christa Ludinger-Rothenburger a remporté des médailles aux JO (attention au case sensitive)
olympic_medals[olympic_medals['athlete_full_name'] == 'Christa LUDING-ROTHENBURGER']

,discipline_title,game_slug,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name,country_code,country_3_letter_code
10448,Speed skating,albertville-1992,500m women,Women,BRONZE,Athlete,Christa LUDING-ROTHENBURGER,Germany,DE,GER
10930,Cycling Track,seoul-1988,sprint women,Women,SILVER,Athlete,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR
11445,Speed skating,calgary-1988,500m women,Women,SILVER,Athlete,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR
11450,Speed skating,calgary-1988,1000m women,Women,GOLD,Athlete,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR
12306,Speed skating,sarajevo-1984,500m women,Women,GOLD,Athlete,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR

In [103]:
# On merge olympic_hosts avec olympic_medals pour obtenir les saisons des JO où Christa Ludinger-Rothenburger a remporté des médailles
jo_christa = pd.merge(olympic_hosts, olympic_medals, on='game_slug')

In [104]:
jo_christa[jo_christa['athlete_full_name'] == 'Christa LUDING-ROTHENBURGER']

,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year,discipline_title,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name,country_code,country_3_letter_code
10448,albertville-1992,1992-02-23T19:00:00Z,1992-02-08T07:00:00Z,France,Albertville 1992,Winter,1992,Speed skating,500m women,Women,BRONZE,Athlete,Christa LUDING-ROTHENBURGER,Germany,DE,GER
10930,seoul-1988,1988-10-02T10:00:00Z,1988-09-16T22:00:00Z,Republic of Korea,Seoul 1988,Summer,1988,Cycling Track,sprint women,Women,SILVER,Athlete,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR
11445,calgary-1988,1988-02-28T03:00:00Z,1988-02-13T15:00:00Z,Canada,Calgary 1988,Winter,1988,Speed skating,500m women,Women,SILVER,Athlete,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR
11450,calgary-1988,1988-02-28T03:00:00Z,1988-02-13T15:00:00Z,Canada,Calgary 1988,Winter,1988,Speed skating,1000m women,Women,GOLD,Athlete,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR
12306,sarajevo-1984,1984-02-19T19:00:00Z,1984-02-08T07:00:00Z,Yugoslavia,Sarajevo 1984,Winter,1984,Speed skating,500m women,Women,GOLD,Athlete,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR

La réponse est oui, Crista LUDING-ROTHENBURGER à remporter en 1988 : 1 médaille en été et 2 médaille en hiver

#### 6. De 1924 à 1992, les JO d’hiver et d’été avaient lieu au cours de la même année. Désormais, ils sont organisés selon des cycles distincts avec une alternance de 2 ans ?

In [105]:
# On vérifie si les JO d'hiver et d'été ont eu lieu la même année entre 1924 et 1992
olympic_hosts[(olympic_hosts['game_year'] >= 1924) & (olympic_hosts['game_year'] <= 1992)].groupby('game_year').size()

game_year
1924    2
1928    2
1932    2
1936    2
1948    2
1952    2
1956    2
1960    2
1964    2
1968    2
1972    2
1976    2
1980    2
1984    2
1988    2
1992    2
dtype: int64

In [106]:
# On vérifie si les JO d'hiver et d'été ont eu lieu la même année après 1992
olympic_hosts[olympic_hosts['game_year'] > 1992].groupby('game_year').size()

game_year
1994    1
1996    1
1998    1
2000    1
2002    1
2004    1
2006    1
2008    1
2010    1
2012    1
2014    1
2016    1
2018    1
2020    1
2022    1
dtype: int64

La réponse est oui, on peut voir que de 1924 à 1992 les JO d'hiver et d'été se passe en même temps, puis après il y un seul JO par année

#### 7. Tarzan lui-même a participé aux JO. En effet, Johnny Weissmuller, ancien athlète devenu acteur et ayant interprété 12 films de Tarzan, a remporté 5 médailles d’or en natation dans les années 1920 ?

In [107]:
# On vérifie dans le DF des médailles si Johnny Weissmuller a remporté des médailles aux JO
olympic_medals[olympic_medals['athlete_full_name'] == 'Johnny WEISSMULLER']

,discipline_title,game_slug,event_title,event_gender,medal_type,participant_type,athlete_full_name,country_name,country_code,country_3_letter_code
19156,Swimming,amsterdam-1928,100m freestyle men,Men,GOLD,Athlete,Johnny WEISSMULLER,United States of America,US,USA
19593,Swimming,paris-1924,400m freestyle men,Men,GOLD,Athlete,Johnny WEISSMULLER,United States of America,US,USA
19605,Swimming,paris-1924,100m freestyle men,Men,GOLD,Athlete,Johnny WEISSMULLER,United States of America,US,USA

In [108]:
#  On vérifie également dans le DF résultats si Johnny Weissmuller a remporté des médailles aux JO
olympic_results[olympic_results['athlete_full_name'] == 'Johnny WEISSMULLER']

,discipline_title,event_title,game_slug,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_full_name,value_unit,value_type
148327,Swimming,100m freestyle men,amsterdam-1928,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,Johnny WEISSMULLER,58600,TIME
151522,Swimming,400m freestyle men,paris-1924,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,Johnny WEISSMULLER,304200,TIME
151557,Swimming,100m freestyle men,paris-1924,Athlete,GOLD,NaN,NaN,1,United States of America,US,USA,Johnny WEISSMULLER,59000,TIME

La réponse est non, Johnny WEISSMULLER a bien gagner des médailles aux JO mais seulement 3 (pas 5)

#### 8. Les JO de Londres de 2012 ont été les 1ers JO durant lesquels tous les pays participants ont envoyé des athlètes de sexe féminin ?

In [109]:
olympic_results.head()

,discipline_title,event_title,game_slug,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN